/* Estilos para el menú */
.menu .navbar-nav .nav-link {
    color:#840424;
    font-size: 25px;  
}
.img img {
    width: 250px;
}
.navbar-light .navbar-nav .active>.nav-link {
    color:#604458;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:  #604458;
    transition: all .6s;
}
.navbar-toggler {
    background: #604458;
}
.menu{
    background: white;
    position: sticky;
}



/* Estilos para el footer */

.main-footer{
	background: #222;
	color: white;
	padding:  10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}
.copy {
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

.main-footer[class*="icon-"]{
	color: white
	text-decoration: none;
}	

.main-footer [class*="icon-"]:before{
	position: relative;
	top: 3px;
	right: 5px;


}

